<h1><%= @task.title %></h1>

<p class="card p-3"><%= @task.details %></p>

<p><%= @task.completed ? "This task is completed"  :  "This task is not completed yet" %></p>
<%# <p><%= @task.completed ? "[x]"  :  "[ ]" %><%# </p> %>

<%# <button class="btn btn-danger" style="color: red">test</button> %>
<%= link_to "Edit", edit_task_path, class: "btn btn-danger" %> <%# style: "color: white" %>
<br>
<%= link_to "Back to list", tasks_path %>
<br>
<%#= link_to "Delete", task_path(@task.id), method: :delete, data: { confirm: "Are you sure?" } %>


<%= link_to "", task_path(@task.id), class: "fas fa-trash-alt", method: :delete, data: { confirm: "Are you sure?" } %>
<!-- <i class="fas fa-trash-alt"></i> -->
